body {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
}

.header {
    margin: 20px auto auto 20px;
    font-size: 24px; 
    font-weight: 300; 
}

.subtitle {
    color: #888; 
    font-size: 12px;
}

.vis {
    overflow: hidden;   
}
