<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Hexagonal Coordinate</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}"/>
    </head>

    <body>
        <div id="vis"></div>

        <!-- Libraries -->
        <script src="{{url_for('static', filename='js/lib/jquery.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/lib/jquery-ui.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/lib/underscore-min.js')}}"></script>
        <script src="{{url_for('static', filename='js/lib/backbone-min.js')}}"></script>
        <script src="{{url_for('static', filename='js/lib/three.min.js')}}"></script>
        <!--
        <script src="{{url_for('static', filename='js/lib/d3.v3.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/lib/d3.hexbin.v0.min.js')}}"></script>
        -->
        <!-- Scripts -->
        <script src="{{url_for('static', filename='js/umap.js')}}"></script>
        <script src="{{url_for('static', filename='js/script.js')}}"></script>
    </body>
</html>